---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostEntry from "../components/PostEntry.astro";

const posts = (await getCollection("blog"))
  .filter((post) => post.data.language === "indonesian")
  .sort(
    (a, b) =>
      new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  );
---

<BaseLayout title="Tulisan Indonesia - Fikri Karim">
  <div>
    <h1 class="text-2xl font-bold">Tulisan Indonesia</h1>
    <hr class="mt-2 mb-10" />
    <div class="flex flex-col gap-10">
      {
        posts.map((post) => (
          <PostEntry
            title={post.data.title}
            date={post.data.date}
            spoiler={post.data.spoiler}
            slug={post.id}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
