---
import dayjs from "dayjs";

interface Props {
  title: string;
  date: string;
  spoiler: string;
  slug: string;
}

const { title, date, spoiler, slug } = Astro.props;
---

<a href={`/${slug}`} class="group flex flex-col gap-1 no-underline">
  <h2 class="text-xl font-bold text-white group-hover:underline">
    {title}
  </h2>
  <p class="text-sm text-slate-500">
    {dayjs(date).format("MMMM D, YYYY")}
  </p>
  <p class="text-md text-slate-300">{spoiler}</p>
</a>
